<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="bassPath" value="BassGuitarSamples.txt"/>
		<add key="iDontCarePath" value="IDontCareSamples.txt"/>
		<add key="classicPath" value="ClassicGuitarSamples.txt"/>
		<add key="electricPath" value="ElectricGuitarSamples.txt"/>
		<add key="chatIDs" value="ChatIDs.txt"/>
		<add key="folkSamples" value="FolkSamples.txt"/>
		<add key="acousticPath" value="AcousticGuitarSamples.txt"/>
		<add key="token" value="2093972716:AAGR_aRecyB_5YgSQ-R3b6XtlvIJOJPbpio" />
		<add key="url" value="https://www.avito.ru/moskva/muzykalnye_instrumenty/gitary_i_strunnye-ASgBAgICAUTEAsYK?cd=1&amp;s=104&amp;user=1" />
		<add key="mainSplitPattern" value="&lt;div data-marker=\&quot;item\&quot; data-item-id="/>
		<add key="numberOfAddsToGet" value="8"/>
		<add key="processorPattern0" value="[a-z]"/>
		<add key="processorPattern1" value="itemProp=&quot;url&quot; href=&quot;"/>
		<add key="processorPattern2" value="/moskva/muzykalnye_instrumenty/"/>
		<add key="avitoLink" value="https://www.avito.ru"/>
		<add key="titlePattern" value="title=&quot;Объявление «"/>
		<add key ="pricePattern" value="itemProp=&quot;price&quot; content=&quot;"/>
		<add key ="loopTimeout" value="8000"/>
		<add key="unwantedInfo" value="unwantedInfo.txt"/>
	</appSettings>
</configuration>